---
title: Cooking of Subtleties, Entremets and Illussion Foods - Judging Criteria
---
<p>NOTE: More documentation is required for Cooking entries than other categories because the written information is used for judging both in the Documentation and the Discussion sections of the criteria. Recipes must be included and those not in modern English should be translated to modern English. Each section has a heading which provides critical information for judging. The definition of a period source is material which was written in period or was written earlier than period, but can be documented as available in period. A source is period if it is accurately quoted (and the original reference is cited) in a secondary source. A source may be a recipe, journals describing foods eaten, letters, books on manners, etc. While sufficient information to support the points being made and provide the relevant historical and cultural background to the dish(es) is critical, concisely presented material indicates the entrant has understood the material well enough to avoid extraneous or tangential information. An entry is comprised of one dish, but that dish may have several parts, if needed for the effect desired. Judgment of subtleties, entremets and illusion foods should be VERY heavily based on their visual appeal.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) This section addresses the scholarly aspect of the documentation. Look for information on the historical ORIGINS of the dish(es) and how the modern recipe may differ from the period recipe. This may include any information which helps demonstrate an understanding of period cooking philosophy, choice of herbs, selection of ingredients, garnishing techniques, manner of service, etc. You should be able to see what research the cook has done into how the dish would have been prepared and presented in period. Must have at least a 3x5 card (or A6 paper). The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with at least some of the following: Identification / description of dish. Approximate time period and place/country of origin entry is modeled on. Recipe for dish. References/bibliography<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process, especially noting modifications made specifically to meet safety requirements.<br />
• Research (country, period of origin, typical characteristics, etc.) Sources should be (ideally) period primary sources, or (very good) primary sources quoted in secondary sources, or (OK) secondary sources. Secondary sources may be used for supplementary information beyond the recipe or its ingredients (Ex:, symbolism of dish, effects on bodily humors, eating customs of the country, methods of service)<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE] Determine how period the entry is, based on the information supplied in the documentation and discussion and/or on your own personal knowledge. Consider the techniques, ingredients, and tools used to produce the entry. For instance, scores of up to 4 may be given when there has been no documentation OR discussion to support authenticity, but the judge recognizes the product as most probably authentic. There must be an original source(s) and redacted recipes to score an 8 in this section. The effects of special efforts to achieve authenticity of presentation (including the form of presentation, additional decoration, etc.) should be judged here. New World and Far Eastern foods may be used providing the entry (as a subtlety, entremet or illusion food) is authentically New World or Far Eastern and in period or that the ingredients were in use in European cookery in period. Special efforts in producing the dish (such as raising the meat, growing the herbs, etc.) are not judged here, but should be judged in complexity.<br />
• 0:Entry blatantly modern. Ingredients not period, design not period.<br />
• 1:Modern dish with ingredients all known in period<br />
• 2:Design has period components, ingredients are not period.<br />
• 3:#1 plus dish "feels period"<br />
• 4:Design has period components, most ingredients are period<br />
• 5:Design and ingredients are period, methods are not period<br />
• 6-7:Dish is period, with reasons for ingredient substitution given<br />
• 8-9Dish is authentic, any ingredient substitutions are period, preparation procedures approximate period procedures (but use of modern equipment should not be counted off)<br />
• 10:Design, ingredients and method are period.<br />
<B>NOTE: Extra points may be given for a special effort to develop a period form of presentation, recreate period preparation methods and period ingredients.</b></p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship. Consider only the difficulty of preparation of the entry. Appropriate criteria to be considered here are: number and difficulty of steps, time involved, and/or special ingredient preparations.<br />
• 1:Required a very simple procedure (slicing, boiling).<br />
• 2-3:A simple preparation such as molded candies or butter, pears molded from gingerbread.<br />
• 4-5:An average preparation (Ex:, molded fish with garnishments, a Japanese vegetable garnish, an endored meatball shaped like an apple).<br />
• 6-7:A moderately difficult preparation (Ex: flowers made of buttercream or Royal icing, a castle of pastry filled with a variety of sweets).<br />
• 8-9:A difficult preparation (Ex:, sculptures in marzipan, galantines of birds, intricate sugar sculptures),<br />
• 10:Ridiculously difficult (Ex:, sculptures of mythical beasts in combat done in marzipan, complex sugar sculptures such as a castle with towers and moat).<br />
<B>NOTE: Extra points may be given for a special attempt to duplicate period methods and ingredients.</b></p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Workmanship is the quality of the job. It is judged on excellence alone. If the entry contains tastes/textures/aromas you don't care for, rate it against others of that type (Ex: if you hate vegetables, is this veggie subtlety substantially less horrible than most veggie dishes?) If the entry is an attempt to recreate a period taste that is documented by period sources, give credit for that attempt, even if it is not to your taste. Rate the dish on Appearance, Aroma, Flavor and as follows.</p>
<p>Appearance<br />
• 0:Looks uninteresting and poorly made.<br />
• 1 Looks okay, but not very well constructed.<br />
• 2:Looks okay and well constructed.<br />
• 3:Very lovely (better than okay).<br />
• 4:It is beautiful or unbelievably deceptive (better than lovely).<br />
Aroma<br />
• 0:Aroma offends the senses.<br />
• 1:Aroma detracts (but does not offend).<br />
• 2:Aroma is appropriate (passable).<br />
• 3:Aroma is very nice/good.<br />
Flavor<br />
• 0:Flavor offends the palate.<br />
• 1:Tastes okay (passable).<br />
• 2:Tastes good (better than okay).<br />
• 3:Tastes delicious (better than pleasant).</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.<br />
<B>NOTE: Extra points should be given for a special effort to display or present the dishes.</b></p>