---
title: Vocal Music Performance Judging Criteria
---

Music written out of period (e.g. by an SCA member) in completely authentic style is acceptable for purposes of performance.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one page should be more than enough, not including visuals and bibliography. 2 pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Composer / Identification / description / use of the entry. Date and place/country of origin entry is modeled on. Reference and copy of music.<br />
• Materials used in the project (instruments and music<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.) Description of musical form, variations and deviations from period norms or discussion of logic applied to design of entry.<br />
• Artistic Design identifying time period the piece characterizes. Consider music, medium and performance practice as they relate to period, style, form, national/regional characteristics, sacred or secular application, use of ornamentation, diminution, embellishment, etc.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0:Piece performed is not original and out of period (or non-period style); OR piece is original, but does not resemble a period style/form<br />
• 1:Piece shows several non-period elements (e.g. modern colloquial text, modern harmony/melody/rhythm)<br />
• 2:Music is period, vocal style modern without adaptations to imitate period (e.g. inappropriate language or dialect; accompaniment, if used, inappropriate to style, character, etc.).<br />
• 3:Music period, vocal style modern with adaptations to imitate period (e.g. use of critical source translation intended for performance; accompaniment, if used, appropriate to period, etc.)<br />
• 4:Piece shows few non-period elements<br />
• 5-6:No non-period elements in the piece itself, but the accompaniment (if used) is inappropriate, or the singing style is inappropriate (for groups this could mean inappropriate voicing; for soloists, this could mean using a tavern song voice to sing a plainsong).<br />
• 7-8:Music and vocal style both period (e.g. original language; appropriate accompaniment, if used).<br />
• 9-10:#8 plus special attention to visual and physical considerations (e.g. transcribed or performed from original manuscript or print, OR modern critical source transcribed into period notational form; attention to physical details such as areas, music stand, etc.)</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the attempt, NOT the workmanship, on a scale of 1 to 10, based on the following. Consider such points as: variations in rhythm, tempo, meter; rhythmic complexity, ornamentation, diminution, embellishment, passaggi; reading from manuscript; "old" notational forms, neumes, tablature; implied or editorial interpretation; melodic shape or contour, phrasing; dexterity or agility required; special tunings and key complexity; stylistic and structural elements; blend, balance.</p>
<p>Solo<br />
• 1-2: Very easy with very little tessitura (range) - less than an octave, few rhythmic values<br />
• 3-4: Easy ballad, range of an octave or so, no complex rhythms or excessive melodic leaps<br />
• 5-6: Ballads (or chants, etc.) which use more varied rhythms (as in some whole, half, quarter, dotted quarter &amp; 16th notes), and/or a more demanding tessitura or melodic pattern<br />
• 7-8: More difficult ballad, lute song, etc., wider range, more complex rhythms and/or difficult melodic shape. OR attempts a foreign language or archaic English text at level #3 difficulty<br />
• 9-10: Difficult melody which requires a demanding tessitura and/or difficult rhythm (as is a significant amount of syncopation), or the inclusion of ornaments, odd leaps, etc.) OR use of foreign of archaic text at level #4 difficulty</p>
<p>Group<br />
• 1-2: **Two or more voices will automatically receive at least 3 points**<br />
• 3-4: Very easy rounds, very easy duets; limited range, melody in the upper voice, simple harmony.<br />
• 5-6: Easy 2 or 3 part piece, range per voice of an octave or so, no complex rhythms or excessive leaps. Ex: "Greensleeves"<br />
• 7-8: More difficult duet or a somewhat more difficult trio, such as "Pastime with Good Company" OR: attempts foreign language or archaic English text at level #3 difficulty<br />
• 9-10: More difficult ensemble work with 2 - 3 voices; or an easy 4-part piece. Melody may be in a lower voice (as in tenor), rhythms are more complex</p>
<p>PERFORMANCE replaces "WORKMANSHIP" on the score sheet. (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution (performance) and success of the entry on a scale of 1-10 based on the following:<br />
(Refer to the list of "Workmanship Criteria" which follows.)<br />
• 1:Does not succeed in any of the 6 areas<br />
• 2: Handles 1 area reasonably well<br />
• 3-4: Handles 2 areas reasonably well<br />
• 5-6: Handles 3 areas reasonably well<br />
• 7: Handles 4 areas reasonably well<br />
• 8: Handles 1 area superbly and 4-5 areas reasonably well<br />
• 9: Handles 2 areas superbly, and 3-4 areas reasonably well<br />
• 10:Handles 3-4 areas superbly, and 2-3 others reasonably well</p>
<p>Workmanship Criteria<br />
• 1:Intonation: Tone quality, pitch, blend and balance: In solo singing, basically the individual pitches must sound as if they belong to the same mode or key. A good sense of beginning and staying with a pitch as much as possible must be observed in the performer. In ensemble singing, good relative pitch should be retained plus good coordination among all the parts. This is one of the most obvious marks of a good or bad ensemble.<br />
• 2:Vocal Technique: Articulation, rhythmic accuracy, fluency, flexibility, breath control, etc. Effective use of breath to create the sound. Breathing should be done from the lower muscles of the body more than from the upper (i.e. - the chest should not heave up and down). In solo singing, the singer should be sensitive to the amount of breath required to sing a particular phrase; breaths should not be taken where it noticeably destroys continuity. In ensemble singing, good coordination of breaths should be observed.<br />
• 3:Tone: Defined as sound or timbre pleasing to the ear. The words associated with this term might be "evenness" and "direction". In ensemble singing, the coordination of individual sounds in order to make an effective blend should be highly considered. Also balance of parts should come under the heading; no one voice should stick out overly much.<br />
• 4:Rhythmic Integrity and interpretation: Style, tempo, phrasing, dynamic contract, etc. "Integrity" applies to a sensitivity to the main pulse of the music. Too much rushing and slowing down will tend to distract from good communication of the music and is quite noticeable. Ensembles particularly need to pay attention to rhythm in order to maintain cohesiveness.<br />
• 5:Musical effect and diction. Phrasing and melodic sensitivity, artistry, expressive and musical feeling, etc.) Diction is the ability to convey precise verbal sounds within the context of the musical line; i.e., diction is important for the communication of the song but should not impede the communication.<br />
• 6:Musicianship: Sensitivity to all aspects of execution in order to make an effective musical result: phrasing, dynamics (good sense of loud and soft singing), vocal attack. Anything that will convey a sense of security in the performance and will not distract the listener. This should portray the performer's mental preparation of the music: has the performer thought carefully of how the music should be done?</p>
<p><B>NOTE: Additional points may be given for: Use of facial or other physical motions to convey performer's interpretation of the piece to the audience; Use of instrumentation or percussion accompaniment; Piece transposed into new key; Some musical adaptations (i.e., music arranging); Creative use of musical devices through phrasing, dynamics, tempo, etc.; Attention to "periodness", original composition or embellishment; physical setup (dress or livery, stand construction, seating, music manuscript or folder, etc.)</b></p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>