---
title: Tents Judging Criteria
---

Tents, canopies and similar structures for outdoor use. Entry must be set up for judging. Entrant may add furnishings for effect, or to demonstrate features of the pavilion, but furnishings themselves will not be judged. Modern functional treatments for waterproofing, fireproofing, etc. will not lose points for Authenticity if entrant notes reason for treatment in documentation.<br />
<B>NOTE: Parachute material is extremely flammable and unsafe for pavilions; entries using this or similarly hazardous material will be disqualified.</b></p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one page should be more than enough, not including visuals and bibliography. 2 pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design, appropriateness of choices for intended purpose, and rationale for all construction techniques, design, and materials used, and their appropriateness to each other, to pavilion's intended use, and to the specified period.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern in design or materials (e.g. plastic sheeting, fiberglass).<br />
• 1-2: Generally period, with some obviously modern elements present (e.g. rubber-backed drapery fabric to simulate period brocade),<br />
• 3-4: Obvious mixture of elements from different cultures or periods (e.g. early Norse motifs on a Renaissance-style pavilion).<br />
• 5-6: Overall period style and execution, with minor inconsistencies.<br />
• 7-8: Period design and execution with no inconsistencies; period materials or reasonable equivalence.<br />
• 9-10: Special effort to achieve a completely period product in design, materials (e.g. including substructure, ropes, stakes), decoration, techniques etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, NOT the workmanship, scale of 1-10 based on the following:<br />
• Difficulty of structural design (least complex: an undecorated roof set on four poles; add points for sides/flaps/floor, curves/peaks/angles, complex interaction of parts, counterbalancing, portability, etc.)<br />
• Degree of original work in design (1 if prepared pattern used unchanged)<br />
• Difficulty of support-structure construction (poles, ropes, stakes, etc.; low scores for use of unmodified purchased equipment).<br />
• Difficulty of cover construction (cloth, canvas, leather, etc: consider material prep, seams, finishing, decoration, etc.)<br />
• Scope of endeavor (size of work relative to amount of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following:<br />
• Form/function: is pavilion large enough, portable enough, strong enough for intended use? does it protect against wind, weather, sun? are parts balanced and well-proportioned? is it designed to resist collapsing?<br />
• Construction: do pieces fit together properly? will the substructure support the pavilion's weight? are materials, seams, connections strong?? are stress points supported and/or reinforced? are high wind concerns addressed?<br />
• Finishing and decoration: Finials? Ropes? Poles? Special colors, personalized decoration, heraldic display, etc?<br />
<B>Note: Extra points may be awarded for special consideration such as personalized decoration, heraldic display, etc.</b></p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>